<div class="side-bar-header">
  <ul class='lists-right'>
    <li><%= link_to 'ログイン', class: "login" %></li>
    <li><%= link_to '新規登録', class: "sign-up" %></li>
  </ul>
</div>

<div class="side-bar-category">
  <ul class="items-list">
    <li><%= link_to "すべてのアイテム", class: "item" %></li>
    <li><%= link_to "トップス", class: "item" %></li>
    <li><%= link_to "アウター", class: "item" %></li>
    <li><%= link_to "ボトムス", class: "item" %></li>
    <li><%= link_to "シューズ", class: "item" %></li>
    <li><%= link_to "バッグ", class: "item" %></li>
    <li><%= link_to "被り物", class: "item" %></li>
    <li><%= link_to "アクセサリー", class: "item" %></li>
    <li><%= link_to "その他", class: "item" %></li>
  </ul>
  <ul class="outfit-list">
    <li><%= link_to 'すべてのコーデ', class: "outfit" %></li>
    <li><%= link_to 'お気に入りのコーデ', class: "favorite" %></li>
  </ul>
  
</div>